body {
	background-image:url("images/light-blue-background.jpg");
	background-size: 100%;
}

#topBanner {
	background-image:url("images/ocean.jpg");
	clear: both;
	text-align: center;
	border-radius: 25px;
}

h1 {
	width: 50%;
	float: left;
	font-weight: bold;
}

#username {
	width: 25%;
	float: left;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
}

#sort {
	width: 25%;
	float: left;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
}

#buffer {
	clear: both;
}

button {
	margin: 10px;
}

form {
	margin: 10px;
	width: 75px;
	float: left;
}

img {
	width: 50%;
	border-radius: 15px;
	opacity: .9;
}

.left, .right {
	width: 50%;
	float: left;
}

h2 {
	margin: 30px 10px;
}

#pictureGrid img {
	width: 30%;
	margin: 10px;
}

.preferencesDiv {
	width: 50%;
	min-width: 120px;
}

.preferencesDiv form {
	width: 70%;
}

.preferencesDiv {
	margin: 0 0 0 40px;
	float: left;
}

.preferencesDiv input {
	margin: 10px;
}

.imgDiv {
	max-width: 40%;
	margin: 0; 
	float: left;
}

.imgDiv img {
	width: 150px;
}

button {
	border-radius: 10px;
	background: white;
	font-size: 14px;
}






@media only screen and (max-width: 700px){
    #pictureGrid img {
		width: 45%;
		margin: 10px;
	}
}

@media only screen and (max-width: 480px){
    #pictureGrid img {
		width: 90%;
		margin: 10px;
	}
	
	.preferencesDiv {
		font-size: 14px;
		width: 60%;
	}
	
	.imgDiv img {
	width: 110px;
}
}

